
li {
    list-style-type: none;
}

main {
    margin-top: 6em;
}
main section.flex {
    max-width: 960px;
    margin: 0 auto;
}

.even {
    background: #67ceab;
}

.pair {
    background: #ff9dce;
}

#agent img {
    max-width: 100%;
    margin: 2em auto;
}
